@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/*================================== part right ==============================*/
div#header {
}

div #nav-top-codi {
  margin: 0;
}

#nav-placeholder {
  padding: 0;
}

#nav-top-codi .column{
  height: 6em;
  background-color: rgb(39, 0, 43);
}
#nav-top-codi .column#search-nav, #nav-top-codi .column#navbar-top {
  height: 3em;
}

div.row#nav-top-codi div.column#logo {

}

div.row#nav-top-codi div.column#logo h1 {
  font-family: 'Kaushan Script' !important;
  color: white;
  display: none;
}

div.row#nav-top-codi div.column#logo h1:hover {
  color: rgba(255, 255, 255, 0.5);
}

#navbar-top nav.navbar {
  padding: 0;
}

#navbar-top nav.navbar div#navbarSupportedContent {
  background-color: rgb(39, 0, 43);
  color: white;
}

#navbar-top nav.navbar div#navbarSupportedContent ul.navbar-nav.mr-auto li.nav-item a.nav-link {
  color: rgba(255, 255, 255, 0.5);
}

#navbar-top nav.navbar div#navbarSupportedContent ul.navbar-nav.mr-auto li.nav-item a.nav-link:hover {
  color: white;
}


#navbar-top nav a.navbar-brand {
  font-family: 'Kaushan Script' !important;
  display: block;
}

div#header div#center div#search-nav {
  display: flex !important;
  align-items: center;
}

div#header div#center div#search-nav form.form-inline {
  display: none;
  width: 100%;
}

div#header div#center div#search-nav form.form-inline input.form-control {
  margin-top: : auto;
  border-radius: 5px 0 0 5px;
  display: block;
  margin-right: 0 !important;
  border-color: rgb(39, 0, 43);
}

div#header div#center div#search-nav form.form-inline button {
  border-radius: 0 5px 5px 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgb(39, 0, 43);
}

div#header div#center div#search-nav form.form-inline button i {
  color: white;
}

div#cart div.row div.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#cart button {
  display: block;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  color: white;
  /* margin: 0 -15px 0 -15px; */
}

div#cart button:hover {
  color: rgb(255, 255, 255, 0.5);
}

@media screen and (min-width:984px) {
  #navbar-top nav a.navbar-brand {
    display: none;
  }
  div#header div#center div#search-nav form.form-inline {
    /* width: 100%; */
    display: flex;
  }
  div.row#nav-top-codi div.column#logo h1 {
    display: block;
  }
  div.row#nav-top-codi div.column#logo {
    display: flex !important;
    align-items: center;
  }
}
