.sliderHead img {
  width: 100%;
  overflow: hidden;
}
/* ======================================NAVBAR ============================== */
#nav-top-codi {
  margin-bottom: 1em;
}

#nav-top-codi .column{
  height: 6em;
  border: 1px solid black;
  background-color: gray;
}

#nav-top-codi .column#search-nav, #nav-top-codi .column#navbar-top {
  height: 3em;
}

/* ====================================== MAIN =============================== */
#main .column {
  min-height: 20em;
  border: 1px solid black;
  background-color: lightgrey;
}

/* ====================================== MAIN =============================== */
#footer-codi .column {
  min-height: 20em;
  border: 1px solid black;
  background-color: green;
}
